1-3

In [36]:
import math


def area_of_shapes() -> None:
    a, h = map(int, input('Введите сторону и высоту треугольника: ').split())
    areas = dict()
    areas['треугольник'] = 1/2 * a * h

    w, h = map(int, input('Введите ширину и высоту прямоугольника: ').split())
    areas['прямоугольник'] = w * h

    r = int(input('Введите радиус круга: '))
    areas['круг'] = math.pi * r ** 2

    print(areas)


def not_calculator() -> None:
    first, second = map(int, input('Введите два числа: ').split())
    operation = input(
        'Введите операцию (+, -, /, //, **), которую необходимо произвести: ')
    if operation == '+':
        print(first + second)
    elif operation == '-':
        print(first - second)
    elif operation == '/':
        try:
            print(first / second)
        except ZeroDivisionError:
            print('На ноль делить нельзя!')
    elif operation == '//':
        try:
            print(first // second)
        except ZeroDivisionError:
            print('На ноль делить нельзя!')
    elif operation == '**':
        print(first ** second)


def heron_formula() -> None:
    a, b, c = map(int, input('Введите стороны треугольника: ').split())
    p = (a + b + c) / 2
    print(math.sqrt(p * (p - a) * (p - b) * (p - c)))


def main() -> None:
    area_of_shapes()
    not_calculator()
    heron_formula()


if __name__ == '__main__':
    main()

{'треугольник': 24.0, 'прямоугольник': 12, 'круг': 78.53981633974483}

ValueError: not enough values to unpack (expected 2, got 1)

4-6

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing

def numbers_squares() -> None:
    print('Введите числа: ', end='')
    number = int(input())
    sum = number
    squares = number ** 2
    while sum != 0:
        number = int(input('> '))
        sum += number
        squares += number ** 2
    print(squares)


def print_numbers_n_times() -> None:
    n = int(input('Введите число: '))
    if n < 0:
        print('Число должно быть неотрицательным!')
    result = []
    i = 1
    while len(result) < n:
        for _ in range(i):
            result.append(i)
        i += 1
    print(result)

def expand_matrix_to_vector() -> None:
    matrix = np.random.randint(10, size=(3, 3))
    print('Исходная матрица:')
    print(matrix)
    vector = []
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            vector.append(matrix[i][j])
    print('Полученный вектор: ', vector)

def create_dict() -> None:
    a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
    b = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
    result = dict()
    for i in range(len(b)):
        if b[i] in result:
            result[b[i]] += a[i]
        else:
            result[b[i]] = a[i]
    print(result)

### California Dataset

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv("housing.csv")
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
data.isna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.loc[(data['housing_median_age'] > 50) & (data['population'] > 2500)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
460,-122.26,37.87,52.0,1087.0,371.0,3337.0,350.0,1.4012,175000.0,NEAR BAY
4131,-118.20,34.13,52.0,2035.0,459.0,2589.0,438.0,3.5349,193600.0,<1H OCEAN
4440,-118.21,34.08,52.0,3672.0,808.0,3062.0,764.0,2.6806,153000.0,<1H OCEAN
5986,-117.71,34.10,52.0,567.0,152.0,2688.0,126.0,1.8750,212500.0,INLAND
7369,-118.21,33.97,52.0,4220.0,908.0,3731.0,892.0,3.1901,167600.0,<1H OCEAN
8227,-118.20,33.78,52.0,2662.0,893.0,3018.0,763.0,2.3305,162500.0,NEAR OCEAN
13034,-121.15,38.69,52.0,240.0,44.0,6675.0,29.0,6.1359,225000.0,INLAND
15634,-122.41,37.80,52.0,1866.0,748.0,2957.0,710.0,1.8295,243800.0,NEAR BAY
15652,-122.41,37.80,52.0,3260.0,1535.0,3260.0,1457.0,0.9000,500001.0,NEAR BAY
15657,-122.41,37.79,52.0,6016.0,2509.0,3436.0,2119.0,2.5166,275000.0,NEAR BAY
15659,-122.41,37.79,52.0,5783.0,2747.0,4518.0,2538.0,1.7240,225000.0,NEAR BAY
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,325000.0,NEAR BAY
15868,-122.41,37.76,52.0,3452.0,784.0,2987.0,753.0,2.8135,260300.0,NEAR BAY

In [ ]:
data['median_house_value'].max()

500001.0

In [ ]:
data['median_house_value'].min()

14999.0

In [ ]:
data['population'].apply(pd.DataFrame.mean)

TypeError: NDFrame._add_numeric_operations.<locals>.mean() missing 1 required positional argument: 'self'

### Morse

In [ ]:
input_str = input()

morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
 'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}

cipher = '' 
for letter in input_str.lower(): 
    if letter != ' ': 

        cipher += morze[letter] + ' '
    else: 

        cipher += '\n'

print(cipher)

.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -